<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hei</title>
    <script src="javascripts/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body  style="overflow: hidden">
<div id='taskApp'>
    <layout></layout>
    <div class="taskBackground"></div>
    <div class="taskMenu">
        <div class="taskItem-select">螺旋爆炸</div>
        <div class="taskItem">Scorpio</div>
        <div class="taskItem">引擎内核</div>
    </div>
    <div class="componentMenu">
        <div class="componentItem">程序化地形</div>
        <div class="componentItem">超级控制器</div>
        <div class="componentItem">可破坏地形</div>
    </div>
    <div class="comments">
        <div class="commentItem"></div>
        <div class="commentInput"></div>
    </div>

</div>
</body>
<script src="javascripts/taskController.js">
</script>
</html>