<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>lesson1-by-shawn.xie</title>
    <style type="text/css">
        div#canvas3d{
            border: none;
            cursor: move;
            width: 1400px;
            height: 600px;
            background-color: #EEEEEE;
        }
        .can{
            -webkit-filter:blur(2px);
        }
        .content{
            position: absolute;
            top: 300px;
            left:20%;
            right: 20%;
            filter: blur(1px);
            color: antiquewhite;
            font-size: 27px;

        }
        @keyframes zoom
        {
            from {transform: scale(2,2);opacity: 1}
            to {transform: scale(1,1);opacity: 0}
        }
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body id="body" onmousedown="getCanvasPos(event)" >
<canvas  id="myCanvas" class="can" style="position: absolute;left: 0;top: 0;z-index: -1;" width="800" height="945"></canvas>
<canvas id="noise"  style="position: absolute;left: 0;top: 0;" width="800" height="945"></canvas>
<div id="content" class="content"></div>
</body>
<script type="text/javascript">
    var reg = /^#([0-9a-fA-f]{3}|[0-9a-fA-f]{6})$/;

    String.prototype.colorRgb = function(){
        var sColor = this.toLowerCase();
        if(sColor && reg.test(sColor)){
            if(sColor.length === 4){
                var sColorNew = "#";
                for(var i=1; i<4; i+=1){
                    sColorNew += sColor.slice(i,i+1).concat(sColor.slice(i,i+1));
                }
                sColor = sColorNew;
            }
            //处理六位的颜色值
            var sColorChange = [];
            for(var j=1; j<7; j+=2){
                sColorChange.push(parseInt("0x"+sColor.slice(j,j+2)));
            }
            return sColorChange;
        }else{
            return sColor;
        }
    };
    var fps = 30;
    var tick = 1 / fps * 1000;
    var now = 0;
    var c = document.getElementById("myCanvas");
    c.width = window.innerWidth;
    c.height = window.innerHeight;
    var cxt = c.getContext("2d");
    var stars = [];

    var colors = [
        "#ffecce",
        "#fff9d4",
        "#b3acb9",
        "#fdffeb"
    ];
    function getCanvasPos(e)
    {//获取鼠标在canvas上的坐标
        var ele = document.getElementById("myCanvas");
        var rect = document.getElementById("myCanvas").getBoundingClientRect();
        var pos = {
            x: e.clientX - rect.left * (ele.width / rect.width),
            y: e.clientY - rect.top * (ele.height / rect.height)
        };
        for(var i =0;i<stars.length;i++) {
            var star = stars[i];
            var deltaX = pos.x - star.x;
            var deltaY = pos.y - star.y;
            var dis2 = Math.pow(deltaX,2) +  Math.pow(deltaY,2);
            if(dis2 <= 10) {
                clickStar(star);
                break;
            }
        }
    }

    function clickStar(star) {
        var mcontent = "这颗星位于x:"+star.ax+",y:"+star.ay+"z:"+star.az+"，是（某用户）于（某时间）加入的记忆";
        var con = document.getElementById("content");
        con.innerHTML = mcontent;
        //con.className = "content";

    }

    var Tick = function () {
        for(var i =0;i<stars.length;i++) {
            var star = stars[i];
            star.r = (Math.sin((now % star.rate) / star.rate * 2 * Math.PI) + star.minr + 1 ) / 2 * (star.maxr - star.minr);
            star.allR = star.r * ((Math.sin((now % star.rate) / star.rate * 2 * Math.PI) + 1) / 2 + 1);
        }
        draw();
        now = now + tick / 1000;
    };
    var draw = function () {
        cxt.clearRect(0, 0, c.width, c.height);
        cxt.fillStyle = "#000000";
        cxt.fillRect(0, 0, c.width, c.height);


        for(var i =0;i<stars.length;i++) {
            var star = stars[i];
            var ocolor = colors[star.colorIndex].colorRgb();
            var rgba = {
                r:ocolor[0],
                g:ocolor[1],
                b:ocolor[2],
                a:1
            };
            rgba.a = 0.1;
            cxt.fillStyle = "rgba(" + rgba.r + "," + rgba.g + "," + rgba.b + "," + rgba.a + ")";
            cxt.beginPath();
            cxt.arc(star.x, star.y, star.allR, 0, Math.PI * 2, true);
            cxt.closePath();
            cxt.fill();
            cxt.fillStyle = colors[star.colorIndex];
            cxt.beginPath();
            cxt.arc(star.x, star.y, star.r, 0, Math.PI * 2, true);
            cxt.closePath();
            cxt.fill();

        }


    };
    window.setInterval(Tick,tick);
    var path = "http://heibe.imwork.net:39881";
    axios.get(path +'/webHomework/getStarsPos', {
        params: {
            width: window.innerWidth,
            height:window.innerHeight
        }})
        .then(function (response) {
            var starPoses = response.data;
            for(var i=0;i<starPoses.length;i++) {
                var rate = Math.random() * 2 + 1;
                var minr = Math.random() * 2 +1;
                var color = Math.floor(Math.random() * colors.length);
                var star = {
                    x: starPoses[i].u,
                    y: starPoses[i].v,
                    r: 0,
                    allR: 0,
                    maxr: (minr + 2)* starPoses[i].l,
                    minr: minr * starPoses[i].l,
                    rate: rate,
                    colorIndex: color,
                    ax:starPoses[i].ax,
                    ay:starPoses[i].ay,
                    az:starPoses[i].az
                };
                stars.push(star);
            }
        })
        .catch(function (error) {
            console.log(error);
        });
</script>
<script type="text/javascript">
    var nc = document.getElementById("noise");
    nc.width = window.innerWidth;
    nc.height = window.innerHeight;
    var ncxt = nc.getContext("2d");

    var options ={
        pieceWidth:300,
        pieceHeight:150,
        pixelWidth:2,
        pixelHeight:2
    };

    // 片段噪点canvas


    // 这里的canvas参数就是页面中的canvas啦
    var context = nc.getContext('2d');
    // 根据尺寸算出需要多少个片段可以拼出来
    var width = nc.width, height = nc.height;
    var pieceWidth = options.pieceWidth, pieceHeight = options.pieceHeight;

    // 片段个数
    var tileNumH = Math.ceil(width / pieceWidth),
        tileNumV = Math.ceil(height / pieceHeight);
    var canvasPiece = function(options) {
        var canvas = document.createElement('canvas'), context = canvas.getContext('2d');
        // 尺寸
        var pieceWidth = options.pieceWidth, pieceHeight = options.pieceHeight;
        // 像素点大小
        var pixelWidth = options.pixelWidth, pixelHeight = options.pixelHeight;

        // 在特定的小尺寸上，绘制满满的随机灰色系的颜色
        for(var y = 0; y < pieceHeight; y+=pixelHeight){
            for(var x = 0; x < pieceWidth; x+=pixelWidth) {
                var color = Math.floor(Math.random() * 150);
                context.fillStyle = "rgba(" + color + "," + color + "," + color + ",0.13)";
                context.fillRect(x, y, pixelWidth, pixelHeight);
            }
        }
        return canvas;
    };
    var ndraw = function () {
        // 使用drawImage方法把片段噪点一个一个绘制到大的画布上
        for(var x = 0; x < tileNumH; x++) {
            for(var y = 0; y < tileNumV; y++) {
                ncxt.drawImage(
                    // 被用来复制的片段canvas图形
                    piece,
                    // 拿来绘制的画布的起始点和区域大小
                    0, 0,
                    pieceWidth, pieceHeight,
                    // 当前画布绘制的起始点和区域大小
                    x * pieceWidth,
                    y * pieceHeight,
                    pieceWidth,
                    pieceHeight
                );
            }
        }
    };
    var piece = canvasPiece(options);
    var newNoise = function () {
        ncxt.clearRect(0, 0, c.width, c.height);
        piece = canvasPiece(options);
        ndraw();
    };
   window.setInterval(newNoise,tick);




</script>
<script type="text/javascript">
    var kw = false;
    var ks = false;
    var ka = false;
    var kd = false;
    document.onkeydown=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
                   if(e && e.keyCode==87){ // 按 W
                          kw = true;
                   }
        if(e && e.keyCode==83){ // 按 W
            ks = true;
        }
        if(e && e.keyCode==65){ // 按 W
            ka = true;
        }
        if(e && e.keyCode==68){ // 按 W
            kd = true;
        }
    };

    document.onkeyup=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==87){ // 按 W
            kw = false;
        }
        if(e && e.keyCode==83){ // 按 W
            ks = false;
        }
        if(e && e.keyCode==65){ // 按 W
            ka = false;
        }
        if(e && e.keyCode==68){ // 按 W
            kd = false;
        }
    };
</script>
</html>